.tools_table_frame{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px 0;
    .header_tab{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .h3{
            font-size: 25px;
            color: var(--title1);
            margin-bottom: 30px;
            text-transform: capitalize;
        }
        .butt{
            background-color: var(--action_color);
            color: #fff;
            padding: 5px 10px;
            border-radius: 10px;
            font-size: 16px;
        }
    }
    .table_frame{
        width: 100%;
        overflow-x: auto;
        .datatable{
            color: var(--title2);
            .dataTables_length{
                label{
                    color: var(--title2);
                    select{
                        width: 100px;
                        border-radius: 10px;
                    }
                }
            }
            .dataTables_filter{
                color: var(--title2);
                label{
                    input{
                        border-radius: 10px;
                    }
                }
            }
            #DataTables_Table_2_info{
                color: var(--title2);
            }
            .dataTables_paginate{
                color: var(--title2);
                span{
                    a{
                        border-radius: 10px;
                        background-color: var(--bg2);
                    }
                }
            }   
            .table_edit{
                width: 100%;
                thead{
                    color: var(--title1);
                    background-color: var(--bg2);
                    tr{
                        .tool_num{
                            min-width: 120px;
                        }
                        th{
                            padding: 20px 10px;
                        }
                    }
                }
                tbody{
                    tr{
                        color: var(--title1);
                        background-color: var(--bg1);
                        td{
                            padding: 20px 10px;
                        }
                    }
                    tr:hover{
                        color: var(--action_color);
                    }
                }
            }
        }
    }
    .cards{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        flex-wrap: wrap;
        padding: 10px;
        .card{
            width: 23%;
            min-width: 270px;
            height: 220px;
            border: 2.5px solid transparent;
            border-radius: 10px;
            margin: 10px;
            background-color: var(--bg2);
            padding: 5px;
            position: relative;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            .card_header{
                width: 100%;
                display: flex;
                justify-content: space-between;
                p{
                    width: 50px;
                    height: 50px;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i{ 
                      font-size: 20px;
                    }
                }
                .star{
                    position: relative;
                    .container input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }
                    
                    .container {
                        display: block;
                        position: relative;
                        cursor: pointer;
                        user-select: none;
                    }
                    
                    .container svg {
                        position: relative;
                        top: 0;
                        left: 0;
                        height: 30px;
                        width: 30px;
                        transition: all 0.3s;
                        fill: #ffe100;
                    }
                    
                    .container svg:hover {
                        transform: scale(1.1);
                    }
                    
                    .container input:checked ~ svg {
                        fill: #ffe100;
                    }
                }
                .star::after {
                    opacity: 0;
                    content: "Add to favorit";
                    position: absolute;
                    background-color: var(--bg2);
                    top: -40px;
                    left: -61px;
                    font-size: 12px;
                    height: 30px;
                    width: 150px;
                    transition: .4s ease;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    color: var(--title2);
                    border: 2.5px solid var(--action_color);
                    font-weight: 600;
                }
                .star::before {
                    opacity: 0;
                    content: "";
                    position: absolute;
                    top: -10px;
                    left: 6px;
                    transition: .4s ease;
                    border: 10px solid transparent;
                    border-color: var(--action_color) transparent transparent;
                }
                .star:hover::after {
                    opacity: 1;
                }
                .star:hover::before {
                    opacity: 1;
                }
            }
            .title{
                font-size: 17px;
                color: var(--title1);
                font-weight: 700;
                margin-bottom: 10px;
                cursor: pointer;
            }
            .description{
                font-size: 14px;
                color: var(--title2);
                cursor: pointer;
            }
            .title:hover{
                color: var(--action_color);
            }
            .description:hover{
                color: var(--action_color);
            }
            .desc_card{
                .title{
                    font-size: 17px;
                    color: var(--title1);
                    font-weight: 700;
                    margin-bottom: 10px;
                    cursor: pointer;
                }
                .description{
                    font-size: 14px;
                    color: var(--title2);
                    cursor: pointer;
                }
                .title:hover{
                    color: var(--action_color);
                }
                .description:hover{
                    color: var(--action_color);
                }
                div{
                    display: flex;
                    flex-direction: column;
                    .title{
                        font-size: 17px;
                        color: var(--title1);
                        font-weight: 700;
                        margin-bottom: 10px;
                        cursor: pointer;
                    }
                    .description{
                        font-size: 14px;
                        color: var(--title2);
                        cursor: pointer;
                    }
                    .title:hover{
                        color: var(--action_color);
                    }
                    .description:hover{
                        color: var(--action_color);
                    }
                }
            }
            .plan_level{
                position: absolute;
                left: 5px;
                bottom: 5px;
                padding-right: 10px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: end;
                p{
                    border-radius: 10px;
                    padding: 2px 5px;
                    font-size: 10px;
                    color: #fff;
                    i{
                        margin-right: 5px;
                    }
                }
                .Premium{
                    background-color:#9047bb;
                }
                .Pro{
                    background-color:#ffea00;
                }
                .Free{
                    background-color:#00ff6a;
                }
            }
        }
        .freemCard{
            border-color: #00ff6a;
            background-color: #00ff6a2c;
        }
        .proCard{
            border-color: #ffea00;
            background-color: #ffdc0036;
        }
        .premiumCard{
            border-color: #8c0bd6;
            background-color: #8b0bd62a;
        }
    }
}